<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>Synergysource - Map</title>
        <link rel="icon" type="image/webp" href="assets/logo2.png" />
    </head>
    <link href="https://cdn.jsdelivr.net/npm/flowbite@2.5.1/dist/flowbite.min.css"  rel="stylesheet" />
    <script src="https://cdn.jsdelivr.net/npm/flowbite@2.5.1/dist/flowbite.min.js"></script>
    <script src="https://cdn.tailwindcss.com"></script>
    <body>
        <div id="navbar"></div>
    </body>

    <script>
      // Function to hide elements by ID
      function hideElementById(id) {
        const element = document.getElementById(id);
        if (element) {
          element.style.display = "none";
        }
      }

      // Function to show elements by ID
      function showElementById(id) {
        const element = document.getElementById(id);
        if (element) {
          element.style.display = "block";
        }
      }

      // Fetch the navbar and check registration status
      fetch("../navbar.html")
        .then((response) => response.text())
        .then((data) => {
          document.getElementById("navbar").innerHTML = data;

          // Check user registration status
          const userRegistered = JSON.parse(
            localStorage.getItem("token")
          );
          console.log("userRegistered:", userRegistered);

          if (userRegistered && userRegistered.registered) {
            hideElementById("login-link");
            hideElementById("register-link");
            showElementById("profile-link");
          }

          // Set up mobile menu toggle functionality
          document
            .querySelectorAll("[data-collapse-toggle]")
            .forEach((button) => {
              button.addEventListener("click", function () {
                const mobileMenu = document.getElementById("mobile-menu-2");
                if (mobileMenu) {
                  mobileMenu.style.display =
                    mobileMenu.style.display === "none" ||
                    mobileMenu.style.display === ""
                      ? "block"
                      : "none";
                }
              });
            });
        })
        .catch((error) => console.error("Error loading navbar:", error));
    </script>

</html>